head {
  font-family:  Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  }

p {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(32, 33, 36)
}

header {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#icon-top a {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #bdc1c6;
}

#appg img{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  filter:brightness(0) invert(1);
}

#pp img{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}


#pp img {  
  max-height: 48px;
  max-width: 48px;
  height: 48px;
  width: 48px;
  border-radius: 30px;
}

#appg {
  fill: white;
}

#regions {
  font-size: small;
}

#regions a {
  text-decoration: blue;
}

#language {
  font-size: small;
}

/* -----------------Main-------------------------- */
  
main {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}
#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#google img {
  max-width: 272px;
  max-height: 92px;
  width: 272px;
  height: 92px;
}

#search {
  border: white solid;
  height: 44px;
  width: 600px;
  display: flex;
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 2em;
  align-items: center;
  
}

#loupe img {
  max-height: 20px;
  max-width: 20px;
  height: 20px;
  width: 20px;
  margin-left: 1em;
  filter: brightness(0) invert(1);
}

#boutons {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

#gsearch {
  margin-right: 1em;
}

#luck {
  margin-left: 1em;
}

#bottommain {
  text-align: center;
} 

#bottommain a {
  color: #8ab4f8;
}

#regions p{
  color: #bdc1c6;
}

#language p{
  color: #bdc1c6;
}
/* -------------------------------Footer----------------------------- */

footer {
  background-color: rgb(22, 23, 23);
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

#pays {
  padding-left: 1em;
}

#pays p{
    color: #bdc1c6;
}

hr {
  margin-bottom: 2em;
}
 

#eco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

#txt-eco a {
  color: #bdc1c6;
}

#bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-left: 0,5em;
}

#bottom a {
  color: #bdc1c6;
}

